.navbar{
    background-color: rgba(0, 0, 0, 0.869);
display: flex;
flex-wrap: wrap;
gap: 9px;
margin-bottom: 90px;

}
.go{
    display: flex;
    gap: 22.9rem;
flex-wrap: wrap;
color: white;
}
h3{
    color: rgb(0, 191, 255);
}

.fun{
    color: white;
}
body{
    background-color: rgba(0, 0, 0, 0.694);
}